.web-footer {
  padding: 20px 0px;
  min-height: 140px;
  border-top: 1px solid #EBEFF2;
}
.page-container {
  padding: 0px;
  max-width: 1170px;
  margin: auto;
}
.page-max-width {
  max-width: 1000px;
  margin: auto;
}
.carousel-control .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
.page-content h1:first-child {
  margin-top: 20px;
}
