{% if not hide_footer_signup %}

<div class="col-sm-4 text-center" style="margin-top: 15px;">
		<input class="form-control" type="text" id="footer-subscribe-email"
            style="display: inline-block; max-width: 80%; margin-right: 10px;"
			placeholder="{{ _('Your email address') }}...">
		<p>
		<button class="btn btn-default" type="button"
			id="footer-subscribe-button">{{ _("Get Updates") }}</button>
        </p>
</div>

<script>
frappe.ready(function() {
	$("#footer-subscribe-button").click(function() {

		if($("#footer-subscribe-email").val()) {
			$("#footer-subscribe-email").attr('disabled', true);
			$("#footer-subscribe-button").html("{{ _("Sending") }}")
				.attr("disabled", true);
			erpnext.subscribe_to_newsletter({
				email: $("#footer-subscribe-email").val(),
				callback: function(r) {
					if(!r.exc) {
						$("#footer-subscribe-button").html("{{ _("Added") }}")
							.attr("disabled", true);
					} else {
						$("#footer-subscribe-button").html("{{ _("Error: Not a valid id?") }}")
							.addClass("btn-danger").attr("disabled", false);
						$("#footer-subscribe-email").val("").attr('disabled', false);
					}
				}
			});
		}
		else
			frappe.msgprint("{{ _("Please enter valid email address") }}")
	});
});
</script>
{% endif %}
