{% from "erpnext/templates/includes/macros.html" import product_image_square %}

<div class="col-sm-2 col-xs-4 product-image-wrapper">
	<a class="product-link" href="{{ route|abs_url }}">
		<div class="product-image-img">
			{{ product_image_square(thumbnail or website_image) }}
			<div class="product-text" itemprop="name">{{ item_name }}</div>
			{% if in_stock %}
				<div style='color: green; font-size: small'> <i class='fa fa-check'></i> {{ _("In stock") }}</div>
			{% else %}
				<div style='color: red; font-size: small'> <i class='fa fa-close'></i> {{ _("Not in stock") }}</div>
			{% endif %}
		</div>
	</a>
</div>